@import '../scssfiles/variables.scss';


.l-leftBlockOne{
    

}


.l-rightBlockOne{
   
  margin-top: 20rem;
   
}



.c-block{
    width: 25rem;;
    background-color: $secondary-color;
    color: white;
    padding: 3rem;
    -webkit-box-shadow: 30px 30px 0px 0px rgba(84,123,132,0.4);
    -moz-box-shadow: 30px 30px 0px 0px rgba(84,123,132,0.4);
    box-shadow: 30px 30px 0px 0px rgba(84,123,132,0.4);
}